/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.wallet-button {
  margin-bottom: 20px;
}

.balance {
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.create {
  background-color: #007bff;
}

.mint {
  background-color: #28a745;
}

.transfer-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.transfer-section input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.action-button.send {
  background-color: #dc3545;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.action-button.send:hover {
  background-color: #c82333;
}


.message {
  margin-top: 20px;
  color: yellow;
}
